.grid{
display: flex;
flex-wrap: wrap;
height: 300px;
width: 500px ;
}
h3{
color: #414d6f;
}
.bg{
background-color: #dae4f7;
width: 900px;

}
.container{
position: relative;
left : 450px;
top: 50px;
height: 500px;
}
.footer{
	margin-top: 110px;
}